---
import Button8831 from "../Button8831.astro";
---

<footer
  class="text-center text-xs bg-primary border-t-[.5px] border-gray-400 p-2 flex flex-col gap-y-1">
  <span id="buttons" class="flex flex-wrap justify-center gap-2">
    <Button8831
      href="https://neeeko.com"
      src="/buttons/neeeko.png"
      alt="Butto for neeeko's site"
    />
    <Button8831
      href="https://deluxesyrup.github.io"
      src="/buttons/syrup.gif"
      alt="Button for syrup's website"
    />
    <Button8831
      href="https://polyuctf.com"
      src="/buttons/nuttyshell.png"
      alt="NuttyShell"
      class="rounded-sm px-1 backdrop-brightness-200"
      width="157"
    />
    <Button8831
      href="https://512kb.club"
      src="/buttons/green-team.gif"
      alt="a proud member of the green team of 512KB club"
    />
    <Button8831
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"
      src="/buttons/by-nc-sa.png"
      alt="Button of CC BY-NC-SA"
    />
  </span>

  <span>
    This website is best <i>not</i> viewed on the Nintendo DS Browser.
    <a href="https://github.com/WessellUrdata/blog/issues/1" target="_blank" rel="noreferrer" class="link"
      >I know because I've tried.</a
    >
  </span>

  <span>
    Website content is licensed under
    <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0"
      target="_blank"
      rel="license noreferrer"
      class="inline-block link"
      >CC BY-NC-SA 4.0
    </a> unless specified otherwise
  </span>

  <span>© Wessell 2024</span>
</footer>
