---
import Button8831 from "../Button8831.astro";
---

<footer class="text-center text-xs w-full bg-primary border-t-[.5px] border-gray-400 py-2 flex flex-col gap-y-1">
  <div id="buttons" class="flex flex-row justify-center gap-2 my-1">
    <Button8831 href="https://neeeko.com" src="/buttons/neeeko.png" alt="neeeko" />
    <a
      href="https://polyuctf.com"
      target="_blank"
      rel="noopener noreferrer"
      class="backdrop-brightness-150 rounded px-1"
    >
      <img src="/buttons/nuttyshell.png" alt="NuttyShell" class="h-[31px]" loading="lazy" />
    </a>
    <Button8831 href="https://creativecommons.org/licenses/by-sa/4.0/" src="/buttons/by-sa.svg" alt="CC" />
  </div>

  <span>This website is best viewed on the Nintendo DS Browser. Maybe.</span>

  <p>
    Website content is licensed under
    <a
      href="https://creativecommons.org/licenses/by-sa/4.0"
      target="_blank"
      rel="license noopener noreferrer"
      class="inline-block link"
      >CC BY-SA 4.0
    </a> unless specified otherwise
  </p>
  <p>© Wessell 2024</p>
</footer>
