---
import { twemojiVer } from "../../constants.ts";
---

<header class="min-h-14 w-full bg-primary border-b-[.5px] border-gray-400 flex flex-col sm:flex-row items-center">
  <a
    class="inline-flex items-center text-lg h-12 min-h-12 cursor-pointer select-none px-2 text-center gap-2 font-semibold"
    tabindex="0"
    href="/"
  >
    <img class="w-10 h-10" alt="Wessell's site logo" src="/logo.svg" />
    <span>Wessell's <img class="emoji" draggable="false" alt="â˜ºï¸" src=`/twemoji/${twemojiVer}/263a.png` />site</span>
  </a>
  <nav>
    <ul class="sm:flex sm:flex-row grid justify-items-center">
      <li>
        <a class="btn btn-ghost" href="/about">
          About me <img class="emoji" draggable="false" alt="ðŸ«‚" src=`/twemoji/${twemojiVer}/1fac2.png` />
        </a>
      </li>
      <li>
        <a class="btn btn-ghost" href="/screensaver" target="_blank" rel="noreferrer">
          <span> <img class="emoji" draggable="false" alt="â˜ºï¸" src=`/twemoji/${twemojiVer}/263a.png` />saver</span>
        </a>
      </li>
      <li>
        <a class="btn btn-ghost" href="https://dl.wesl.cc" target="_blank" rel="noreferrer">
          Public Downloads
          <img class="emoji" draggable="false" alt="ðŸ“¦" src=`/twemoji/${twemojiVer}/1f4e6.png` />
        </a>
      </li>
    </ul>
  </nav>
</header>
