---
import Shell from "../layouts/Shell.astro";
import PostList from "../components/Layout/BlogpostList.astro";
---

<Shell>
  <section class="max-w-none prose prose-headings:my-[12px] mb-8">
    <h2>Hi! Welcome to my WIP website! ☺️💬</h2>
    <p>It's pretty barren right now, and I'm trying to flesh it out.</p>
  </section>

  <PostList />
  <!-- <div id="
    weather"
    class="flex flex-col absolute right-0"
  >
    <div class="flex flex-col items-stretch">
      <WeatherInfo />
      <WeatherCard
        displayLocation="Cheung Sha Wan"
        API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0808_en.xml"
      />
      <WeatherCard
        displayLocation="Hung Hom"
        API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0906_en.xml"
      />
    </div>
  </section> -->
</Shell>
