---
import Shell from "../layouts/Shell.astro";
import PostList from "../components/Layout/BlogpostList.astro";

import E from "../components/E.astro";
---

<Shell>
  <h2 class="text-center py-4"><E>Hello! Welcome to my ☺️site, my little corner on the Internet ☺️💬</E></h2>

  <PostList />
</Shell>
