---
import Shell from "../layouts/Shell.astro";
import PostList from "../components/Layout/BlogpostList.astro";

import E from "../components/E.astro";
---

<Shell>
  <div class="py-4 text-xl font-medium text-center">
    <E>Hello! Welcome to my ☺️site, my little corner on the Internet ☺️💬</E>
  </div>

  <PostList />
</Shell>
