---
import Shell from "../layouts/Shell.astro";
---

<Shell>
  <p>Welcome to my WIP website ☺️🫂‼️</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis a dolor nec molestie. Donec lectus diam, auctor
    eget fringilla at, cursus nec purus. Donec lobortis euismod felis. Pellentesque ac tellus eu urna molestie
    ullamcorper eu vel est. Donec sit amet quam quis nibh luctus finibus. Fusce in neque sed eros dictum tempor a at
    dolor. In luctus magna non augue pharetra, vitae fermentum urna ultrices. Mauris eget posuere libero. Quisque sed
    eros auctor, interdum neque et, pharetra ligula. Maecenas in volutpat mi, eget semper orci. Praesent consequat erat
    a enim malesuada pellentesque. Phasellus at lacus ornare, imperdiet purus sed, cursus elit. Nullam tempor, sem non
    cursus tempor, lacus felis hendrerit dolor, a hendrerit est elit eget nunc.
  </p>
  <p>
    Integer tempus eros in augue venenatis ornare. Suspendisse vel efficitur mi. Sed non risus a dui varius auctor. Cras
    velit ex, tempor a dolor vitae, interdum rutrum dui. Nulla pharetra a lorem sit amet egestas. Nam tincidunt nunc sed
    sem congue posuere. Aliquam sit amet ultricies ante, eget sodales erat. Sed ac mollis velit. Morbi dui elit,
    condimentum vitae dignissim eu, mollis eu elit. Sed bibendum eu arcu ac pellentesque. Pellentesque varius consequat
    vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque pharetra malesuada urna
    imperdiet congue. Quisque efficitur lacus id tellus aliquet, eu faucibus risus accumsan. Quisque commodo diam et
    ligula molestie, eu scelerisque sapien condimentum. Donec nec ante gravida, egestas velit in, fringilla nisi.
  </p>
  <p>
    Nam tincidunt arcu ex, ac pretium enim dapibus at. Vivamus ut eros massa. Nunc et dui ipsum. Cras ornare lorem eu
    augue tempus, id imperdiet libero pellentesque. In facilisis efficitur sagittis. Maecenas porttitor tellus quis urna
    ullamcorper, sit amet pellentesque ante euismod. Integer vel pulvinar ligula. Sed fringilla finibus malesuada.
    Quisque laoreet erat ante, ac condimentum ex egestas et. Vivamus lobortis orci ut eleifend maximus. Sed nulla
    lectus, auctor in ullamcorper ut, sodales pretium dui.
  </p>
  <p>
    Nunc ultricies dolor id nisl maximus consectetur. Proin urna orci, semper sed nibh sit amet, rutrum mattis nunc.
    Mauris egestas pharetra nisl ac hendrerit. Praesent commodo lobortis ultricies. Praesent vehicula malesuada orci.
    Proin nibh neque, cursus et neque ac, vehicula sagittis orci. Sed eleifend nec lacus eu euismod. Duis ut bibendum
    dolor. Cras venenatis neque eget leo aliquet dignissim. Maecenas luctus tortor in nisl posuere, eu congue arcu
    ullamcorper. Curabitur sodales purus efficitur, gravida felis at, sagittis odio. Maecenas quis ullamcorper ex, sed
    pellentesque turpis. Nam a lectus accumsan, interdum lacus nec, interdum orci. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Mauris non venenatis lectus, sed ornare ex. Praesent
    condimentum quam libero, non pharetra nisl vestibulum id.
  </p>
  <p>
    Nullam tincidunt vulputate odio id dignissim. Fusce commodo ante eget tincidunt convallis. Etiam id posuere tortor,
    vel rhoncus ligula. Suspendisse posuere lorem ut sagittis accumsan. Nam in feugiat sem. Fusce sit amet ultrices sem,
    in dapibus nisi. Suspendisse blandit aliquam orci vitae luctus. Suspendisse vulputate ullamcorper ex, quis
    vestibulum justo efficitur vel. Nullam quis rutrum lectus, quis elementum lacus. Nullam lorem enim, accumsan a augue
    vel, posuere dictum ante. Donec purus orci, sodales in nunc et, pellentesque placerat tortor. Phasellus vel
    hendrerit nisi. In malesuada cursus quam sit amet iaculis. Donec mollis velit eget sollicitudin ultrices. Donec quis
    commodo nulla. Morbi vitae consequat elit.
  </p>

  <!-- <div id="weather" class="flex flex-col absolute right-0">
      <div class="flex flex-col items-stretch">
        <WeatherInfo />
        <WeatherCard
          displayLocation="Cheung Sha Wan"
          API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0808_en.xml"
        />
        <WeatherCard
          displayLocation="Hung Hom"
          API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0906_en.xml"
        />
      </div>
    </div> -->
</Shell>
