---
import { getCollection } from "astro:content";

import Shell from "../layouts/Shell.astro";

const allPosts = await getCollection("blog");
---

<Shell>
  <article class="prose">
    <p>Hi! Welcome to my WIP website! ☺️</p>

    <p>It's pretty barren right now, and I'm trying to flesh it out.</p>

    <p>測試</p>
  </article>
  <!-- {
    allPosts.map(
      (post) =>

  
        post.id
    
  } -->
  <!-- <div id="weather" class="flex flex-col absolute right-0">
      <div class="flex flex-col items-stretch">
        <WeatherInfo />
        <WeatherCard
          displayLocation="Cheung Sha Wan"
          API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0808_en.xml"
        />
        <WeatherCard
          displayLocation="Hung Hom"
          API_URL="https://www.hko.gov.hk/PDADATA/locspc/data/gridData/0906_en.xml"
        />
      </div>
    </div> -->
</Shell>
