---
import Shell from "../layouts/Shell.astro";
import PostList from "../components/Layout/BlogpostList.astro";
---

<Shell>
  <section class="max-w-none prose prose-headings:my-[12px] mb-8">
    <h2>Hello! Welcome to my ☺️site, my little corner on the Internet ☺️💬</h2>
  </section>

  <PostList />
</Shell>
