---
interface Props {
  href: string;
  alt: string;
  src: string;
}

const { href, alt, src } = Astro.props;
---

<a href={href} target="_blank" rel="noreferrer">
  <img src={src} alt={alt} class="btn8831" />
</a>

<style>
  img.btn8831 {
    height: 31px;
  }
</style>
