---
interface Props {
  href: string;
  alt: string;
  src: string;
}

const { href, alt, src } = Astro.props;
---

<a href={href} target="_blank" rel="noreferrer">
  <img src={src} alt={alt} style="height: 31px;" />
</a>
