---
interface Props {
  title: string;
}

const { title } = Astro.props;

import twemoji from "../twemoji/twemoji.esm.js";

const twemojiVer = "15.1.0";

const html: string = twemoji.parse(await Astro.slots.render("default"), {
  base: "/twemoji",
  folder: `/${twemojiVer}`,
  ext: ".svg",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome to the World of ☺️" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} {title ?? "-"} Wessell's ☺️site</title>

    <!-- Favicon BS, SVG/PNG/ICO should be enough, and I don't care about Apple devices -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <div class="px-1 flex items-center min-h-16 w-full bg-base-100">
      <a
        class="inline-flex items-center text-xl h-14 min-h-14 cursor-pointer select-none px-2 text-center gap-2 font-semibold"
        tabindex="0"
        href="/"
      >
        <img class="w-12" alt="Wessell's site logo" src="/logo.svg" />
        <span>
          Wessell's
          <img class="emoji" draggable="false" alt="☺️" src=`/twemoji/${twemojiVer}/263a.svg` class="p-2" />site
        </span>
      </a>
    </div>
    <Fragment set:html={html} />
  </body>
</html>
