---
import Shell from "./Shell.astro";

import dayjs from "dayjs";

const { title, dateTime } = Astro.props.frontmatter;
const parsedDateTime = dayjs(dateTime).format("YYYY-MM-DD, HH:mm (Z)");
---

<Shell title={title}>
  <article class="prose max-w-none prose-headings:my-[12px]">
    <h1>{title}</h1>
    <div>Published on: {parsedDateTime}</div>
    <slot />
  </article>
</Shell>
